# /sys/devices/virtual/camera/*/*_camfw
allow cameraserver camera_device:file { read open getattr };
allow cameraserver camera_device:chr_file { read open getattr };
